.checkbox-wrapper {
  position: relative;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  margin-bottom: 3rem;
  & [type="checkbox"] {
    all: unset;
    inset: 0;
    position: absolute;
  }

  & strong {
    font-weight: 500;
    color: var(--text-highlight);
    text-decoration: underline;
  }
  .checkbox-image {
    background-image: url(../../assets/icons/squared-checkbox.svg);
    background-repeat: no-repeat;
    flex: 0 0 1.5rem;
    height: 1.5rem;
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(../../assets/icons/squared-checkbox-hover.svg);
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &:has(:checked) {
    .checkbox-image {
      background-image: url(../../assets/icons/squared-checkbox-checked.svg);
      background-repeat: no-repeat;
    }
  }
}
