.dropzone {
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  padding: 1.75rem 1rem;
  text-align: center;
  position: relative;
  & p {
    color: #a8a29e;
    font: 1rem/150% var(--poppins);
  }
  
  & img {
    height: 3rem;
    width: 3rem;
  }
  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

  &:hover {
    border: 1px dashed var(--stroke-highlight);
    background-color: var(--surface-secondary);
    & p {
      color: var(--text-tertiary);
    }
    & svg path {
      stroke: var(--stroke-highlight);
    }
  }

}

#fileInfo{
    margin-top: .5rem;
  }
